In [3]:
import pandas as pd

### Create A Series Object from a Python List

In [5]:
# what is a series? basically a more powerful python list
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry', 'Rum Raisin']
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [6]:
lottery = [4, 8, 15, 16, 23, 42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Create A Series Object from a Python Dictionary

In [10]:
# a pandas series will convert a python dictionary into a series with the keys as the index. 
# series do not have to have unique indexies 
webster = {"Aardvark":"An animal",
           "Banana":"A delicious fruit",
           "Cyan":"A Color"}
pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A Color
dtype: object

### Intro to Attributes

In [12]:
# an attribute describes the object, it does not manipulate or change the data 
about_me = ['Funny', 'Short', 'Athletic']
s = pd.Series(about_me)
s

0       Funny
1       Short
2    Athletic
dtype: object

In [13]:
s.values

array(['Funny', 'Short', 'Athletic'], dtype=object)

In [14]:
s.index

RangeIndex(start=0, stop=3, step=1)

### Intro to Methods

In [15]:
# methods do something to the object, whether thats a calculation or operation
prices = [2.99, 4.45, 1.35]

s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.35
dtype: float64

In [16]:
s.sum()

8.790000000000001

In [17]:
s.product()

17.962425000000003

### Parameters and Arguments

In [19]:
# methods have parameters and parameters have arguments
# arguments are the options you give parameters

fruits = ["Apple","Orange","Plum","Grape"]
weekdays = ["Monday","Tuesday","Wednesday","Thursday"]

pd.Series(data = fruits, index = weekdays)

Monday        Apple
Tuesday      Orange
Wednesday      Plum
Thursday      Grape
dtype: object

### Extract Series Values by Index Position

In [27]:
# you can index with a single set of backets 
# or you can use double backets to return a new series 
pokemon = pd.read_csv("~/Projects/DataAnalysisPandas/Data/pokemon.csv", usecols = ["Pokemon"], squeeze = True)

In [28]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [29]:
pokemon[1]

'Ivysaur'

In [30]:
pokemon[[1,2]]

1     Ivysaur
2    Venusaur
Name: Pokemon, dtype: object

### The .get() Method on a Series

In [31]:
# get allows you to use a default value if it cannot find the key lookup 
pokemon = pd.read_csv("~/Projects/DataAnalysisPandas/Data/pokemon.csv", index_col = ["Pokemon"], squeeze = True)
pokemon.sort_index(inplace = True)
pokemon.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [32]:
pokemon.get("Abra")

'Psychic'

### The .value_counts() Methods

In [33]:
# to get unique counts of every value in a series, use the value_counts() method
# returns a new series with the total counts of each value in a series
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

### The .map() Method

In [34]:
# maps a series to another collection of data 
pokemon_names = pd.read_csv("~/Projects/DataAnalysisPandas/Data/pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [36]:
pokemon_types = pd.read_csv("~/Projects/DataAnalysisPandas/Data/pokemon.csv", index_col = ["Pokemon"], squeeze = True)
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [37]:
pokemon_names.map(pokemon_types)

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, Length: 721, dtype: object